<div class="mt-2 mb-2">
  <div class="h4">Servus.</div>
  <p class="" style="text-align: justify">
    <em>
      Herzlich willkommen auf Reinhoiz.de
      <br />
      Hast du Fragen oder Anregungen? Kontaktiere mich doch gerne!
      <br />
      Ihr findet mich auf folgenden Ausstellungen
      <br />
      Am 23.11.2024 „Winterzauber“ beim Gasthaus Betz in 84030 Oberglaim
      <br />
      Am 6.12./7.12./.8.12.2024 „Weihnachtlicher Kunsthandwerkermarkt“ im Bauzunfthaus in 84028 Landshut
      <br />
      Am 13.12./14.12./15.12.2024 Weihnachtsmarkt beim Christbaumverkauf Emslander in 84030 Unterglaim
      <br
    /></em>

    <figure class="text-center">
      <blockquote class="blockquote">
        <p>100% Holz, 0% Plastik.</p>
      </blockquote>
      <figcaption class="blockquote-footer">reinhoiz.de</figcaption>
    </figure>
  </p>
</div>

<hr />

<div class="d-flex flex-wrap gap-5 justify-content-center mt-4">
  {{#each products}}
  {{> preview}}
  {{/each}}
</div>
