<div class="card">
  <div class="card-body">
    <h3 class="card-title">Impressum</h3>
    <p class="card-text">
      <h4>Angaben gem&auml;&szlig; &sect; 5 TMG</h4>
      <p>Reinhold Ehrmaier<br />
      Sperberstrasse 12<br />
      84032 Altdorf</p>
      
      <h4>Kontakt</h4>
      <p>Telefon: 0151 65101473<br />
      E-Mail: kontakt@reinhoiz.de/p>
      
      <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
    </p>
  </div>
</div>